[submodule "feedback-api"]
	path = feedback-api
	url = https://github.com/York-Solutions-B2E/tsg-9.27-TheAvengers-feedback-api.git
[submodule "feedback-analytics-consumer"]
	path = feedback-analytics-consumer
	url = https://github.com/York-Solutions-B2E/tsg-9.27-TheAvengers-feedback-analytics-consumer.git
[submodule "frontend-feedback-ui"]
	path = frontend-feedback-ui
	url = https://github.com/York-Solutions-B2E/tsg-9.27-TheAvengers-frontend-feedback-ui.git
